.studentBody{
    width: 100%;
    display: flex;
    justify-content: flex-start
}

.controll-button{
    margin-right: 30px;
    font-size: 24px;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.headerwrapper{
    border: solid 3px #1eabbc;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    
}

.controll-button:hover {
    border-bottom: 3px solid #1eabbc;
}
